body {
    background-color: lightgray;
}

h1 {
    color: purple;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
}

p, input, h1, h2, h3, label {
    font-family: Ubuntu, Arial;
}